# Include local configuration for user-specific settings
[include]
    path = ~/.gitconfig.local

[core]
    editor = vim
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    # Shortcuts
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    
    # Useful commands
    undo = reset HEAD~1 --mixed
    amend = commit --amend
    wip = !git add -u && git commit -m "WIP"
    unstage = reset HEAD --
    last = log -1 HEAD
    
    # Branch management
    cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[push]
    default = simple

[init]
    defaultBranch = main

[pull]
    rebase = false

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[fetch]
    prune = true
    pruneTag = true

[rebase]
    autoStash = true
    autoSquash = true

[commit]
    verbose = true
	gpgsign = true

[log]
    follow = true

[rerere]
    enabled = true
    autoUpdate = true

[help]
    autoCorrect = prompt

[branch]
    sort = -committerdate

[column]
    ui = auto

[status]
    showUntrackedFiles = all
    short = true
    branch = true

[interactive]
    diffFilter = delta --color-only

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-zero-style = dim syntax
    file-style = bold yellow ul
    file-decoration-style = none
    commit-decoration-style = bold yellow box ul
    hunk-header-decoration-style = cyan box ul
    whitespace-error-style = 22 reverse
[user]
	name = sasazame
	email = sasazame@zametech.com
	signingkey = A177DE22089CB991
[gpg]
	program = /usr/bin/gpg
